<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>TP3 - Thiago Aragão</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
<body>
	<header class="p-3 bg-dark text-white">
		<div class="container">
			<div
				class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

				<ul
					class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a href="/" class="nav-link px-2 text-white">Home</a></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row content mb-10 mt-3">
			<div class="d-grid gap-2 col-4">
				<a href="/user" class="btn btn-outline-dark"> <i
					class="bi bi-plus-circle-fill"></i> Create a new user
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table
					class="table table-bordered table-striped table-hover align-middle"
					th:if="${users != null && users.size() > 0}">
					<thead>
						<tr>
							<td>Name</td>
							<td>Actions</td>
						</tr>

					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td class="text-center" th:text="${user.Name}"></td>
							<td class="text-center">
								<a th:href="@{'/view/' + ${user.Id}}" class="btn btn-outline-dark">
									<i class="bi bi-eye-fill" style="font-size: 1.2rem;"></i>
								</a>
								<a th:href="@{'/edit/' + ${user.Id}}" class="btn btn-outline-dark">
									<i class="bi bi-pencil-fill" style="font-size: 1.2rem;"></i>
								</a>
								<a th:href="@{'/delete/' + ${user.Id}}" class="btn btn-outline-dark">
									<i class="bi bi-trash-fill" style="font-size: 1.2rem;"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>
</html>